* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: "geomanistregular";
}

body {
  transition: background 500ms;
  background-color: #D7D7D7;
}

.margins {
  width: 80%;
  margin: 0 auto;
}

.container_toggle {
  height: 0;
  width: 0;
  opacity: 0;
  /*visibility: hidden;*/
}

.slabel {
  cursor: pointer;
  text-indent: -9999px;
  width: 55px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  position: relative;
  background: black;
}

.slabel:after {
  content: "";
  background: #D7D7D7;
  width: 20px;
  height: 20px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  top: 5px;
  left: 4px;
  transition: cubic-bezier(0.68, -0.55, 0.27, 1.55) 320ms;
}

input:checked + .slabel {
  background: #FEC195;
}

input:checked + .slabel:after {
  left: calc(100% - 5px);
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
  background: black;
}

html.transition, html.transition *, html.transition *:before, html.transition *:after {
  transition: cubic-bezier(0.68, -0.55, 0.27, 1.55) 420ms !important;
  transition-delay: 0 !important;
}

.switchcontainer {
  position: absolute;
  right: 30px;
}

/*mobile logo*/
.tinylogo img {
  width: 30px;
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translate(-50%);
}
@media (min-width: 800px) {
  .tinylogo img {
    display: none;
  }
}

/*logo*/
.logo {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translate(-50%);
  width: 100px;
  display: none;
}
.logo h1 {
  background: url("../imgs/logows.svg");
  background-size: cover;
  width: 50px;
  height: 50px;
  text-indent: -9999px;
}
.logo h1 a {
  background-image: url("../imgs/logows.svg");
  background-size: cover;
}
@media (min-width: 800px) {
  .logo {
    display: block;
  }
}

/*menuToggle*/
#menuToggle {
  display: block;
  position: absolute;
  top: 20px;
  left: 10%;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
  width: 100%;
}
@media (min-width: 800px) {
  #menuToggle {
    display: none;
  }
}
@media (max-width: 1300px) {
  #menuToggle {
    display: block;
  }
}

#menuToggle a {
  color: #130D6F;
  text-decoration: none;
  transition: color 0.3s ease;
  text-align: center;
  font-size: 21px;
  font-family: "geomanistregular";
}

#menuToggle a:hover {
  color: #5E72EB;
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -2px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none;
}

#menuToggle span {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #FCFCFC;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #0D0745;
}

#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

#menuToggle input:checked ~ ul {
  transform: none;
}

#menu {
  position: absolute;
  width: 100%;
  margin: -100px 0 0 -10%;
  padding: 20px;
  padding-top: 125px;
  background: #D7D7D7;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#menu li {
  padding: 10px 0;
  font-size: 1em;
}

.leftnav {
  display: block;
  position: fixed;
  left: 9%;
  top: 20px;
  letter-spacing: 2px;
}
@media (max-width: 1300px) {
  .leftnav {
    display: none;
  }
}
.leftnav .menuRegular {
  font-size: 21px;
  font-family: "geomanistregular";
}
.leftnav .menuRegular a {
  text-decoration: none;
  color: white;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 15px;
  font-size: 18px;
}
.leftnav .menuRegular .highlighted {
  text-decoration: underline;
  text-decoration-color: #FEC195;
  text-decoration-thickness: 2px;
}
.leftnav .menuRegular .highlighted:hover {
  text-decoration-color: #5E72EB;
}
.leftnav .menuRegular a:hover {
  color: #5E72EB;
}
.leftnav .menuRegular .active {
  color: #5E72EB;
}

.cta {
  font-size: 1.5rem;
  border: none;
  padding: 5px 70px;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  background-size: 200%;
  transition: 0.6s ease;
  letter-spacing: 1px;
  background-image: linear-gradient(to left, #FEC195, #0D0745, #FEC195);
}

a {
  text-decoration: none;
}

.cta:hover {
  background-position: right;
}

@media (max-width: 800px) {
  .cta {
    margin-bottom: 20px;
    width: 100%;
    display: block;
    text-align: center;
    font-size: 1.2rem;
  }
}
@media (max-width: 1300px) {
  .cta {
    font-size: 1.2rem;
  }
}
.container {
  background-image: radial-gradient(circle farthest-corner at 15px 15px, rgba(244, 186, 149, 0.8) 0%, rgba(215, 215, 215, 0) 500px), radial-gradient(circle closest-side at 1700px 1000px, rgba(19, 13, 111, 0.8) 0%, rgba(215, 215, 215, 0) 800px), radial-gradient(circle closest-side at 900px 1850px, rgba(255, 145, 144, 0.8) 0%, rgba(215, 215, 215, 0) 600px), radial-gradient(circle closest-side at 500px 2300px, rgba(19, 13, 111, 0.8) 0%, rgba(215, 215, 215, 0) 600px), radial-gradient(circle at bottom, rgba(94, 114, 235, 0.7) 0%, rgba(215, 215, 215, 0) 200px);
}

.hero {
  height: 100vh;
  position: relative;
}

.herotext {
  color: white;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.herotext h1 {
  font-family: "Antic Didone", serif;
  font-size: 3rem;
  line-height: 1.5;
  margin-bottom: 20px;
}

.herotext .tinytext {
  font-family: "geomanistregular";
  font-size: 1.8rem;
}

.rightimg {
  position: absolute;
  width: 300px;
  right: 0px;
}

@media (max-width: 800px) {
  .herotext h1 {
    font-size: 1rem;
  }

  .herotext .tinytext {
    font-size: 1.2rem;
  }

  .container {
    background-image: radial-gradient(circle farthest-corner at 15px 15px, rgba(244, 186, 149, 0.8) 0%, rgba(215, 215, 215, 0) 300px), radial-gradient(circle closest-side at 600px 700px, rgba(19, 13, 111, 0.8) 0%, rgba(215, 215, 215, 0) 600px), radial-gradient(circle closest-side at 300px 3000px, rgba(255, 145, 144, 0.8) 0%, rgba(215, 215, 215, 0) 500px), radial-gradient(circle closest-side at 100px 3600px, rgba(19, 13, 111, 0.8) 0%, rgba(215, 215, 215, 0) 500px), radial-gradient(circle at bottom, rgba(94, 114, 235, 0.7) 0%, rgba(215, 215, 215, 0) 200px);
  }

  .switchcontainer {
    display: none;
  }
}
@media (max-width: 1300px) {
  .herotext h1 {
    font-size: 2rem;
  }

  .herotext .tinytext {
    font-size: 1.2rem;
  }
}
footer {
  width: 100%;
  display: inline-block;
  margin-top: 50px;
}

.footernav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;
}

.col-3 {
  text-align: center;
}
.col-3 .logo2 {
  margin: 0 auto;
}
.col-3 .logo2 h1 {
  background: url("../imgs/logows.svg");
  background-size: cover;
  width: 50px;
  height: 50px;
  text-indent: -9999px;
}
.col-3 .logo2 h1 a {
  background-image: url("../imgs/logows.svg");
  background-size: cover;
  color: white;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.col-3 a {
  color: white;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 5px;
}
.col-3 a:hover {
  color: #5E72EB;
}

.decorfooter {
  background-image: radial-gradient(circle at bottom, rgba(94, 114, 235, 0.7) 0%, rgba(215, 215, 215, 0) 150px);
}

.comingsoon {
  width: 100%;
  height: 100%;
}
.comingsoon .textcontent {
  background-color: #0D0745;
  text-align: center;
  margin-top: 100px;
}

/*# sourceMappingURL=style.css.map */
