*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body{
    transition: background 500ms;
    background-color: #D7D7D7;
}
.margins{
    width: 80%;
    margin: 0 auto;
}
.container{
    background-image: radial-gradient(circle farthest-corner at 15px 15px, rgba(244, 186, 149, 0.8) 0%, rgba(215, 215, 215, 0) 500px),radial-gradient(circle closest-side at 1600px 1000px, rgba(19, 13, 111, 0.8) 0%, rgba(215, 215, 215, 0) 1100px);
}
.hero{
    height: 100vh;
    position: relative;
}
.herotext{
    color: white;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.herotext h1{
    font-family: 'Antic Didone', serif;
    font-size: 72px;
    line-height: 1.5;
}
.herotext .tinytext{
    font-family: "geomanistregular";
    font-size: 36px;
}
  
input[type=checkbox] {
    height: 0;
    width: 0;
    font-size: 36px;
    visibility: hidden;
}
label {
    cursor: pointer;
    text-indent: -9999px;
    width: 55px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    position: relative;
    background: black;
}
label:after {
    content: '';
    background: #D7D7D7;
    width: 20px;
    height: 20px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    left: 4px;
    transition: cubic-bezier(0.68, -0.55, 0.27, 1.55) 320ms;
}
input:checked + label {
    background: #FEC195;
}
input:checked + label:after {
    left: calc(100% - 5px);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
    background: black;
}
html.transition, html.transition *, html.transition *:before, html.transition *:after {
    transition: cubic-bezier(0.68, -0.55, 0.27, 1.55) 420ms !important;
    transition-delay: 0 !important;
}
.switchcontainer{
    position: absolute;
    right: 30px;
}

/* Use a media query to add a breakpoint at 800px: */
@media screen and (max-width: 800px) {
    .herotext h1{
        font-size: 36px;
    }
    .herotext .tinytext{
        font-size: 24px;
    }
    .container{
        background-image: radial-gradient(circle farthest-corner at 15px 15px, rgba(244, 186, 149, 0.8) 0%, rgba(215, 215, 215, 0) 300px),radial-gradient(circle closest-side at 600px 800px, rgba(19, 13, 111, 0.8) 0%, rgba(215, 215, 215, 0) 900px);
    }
  }