// sass --watch sass/secret.scss:css/secret.css
@import 'mixins';


.caselogo3{
    background-color:$secrethover;
    width: 100%;
    height: 100%;
    text-align: center;
    margin-bottom: 20px;
    padding: 20px;
    img{
        margin: 0 auto;
        width: 300px;
        margin-top: 20px;
        @include phone{
            width: 100%;
        }
    }
}
.colors{ 
    #secretblack{
        .circle{
            background: $secretblack;
        }
        color: $secretblack;
    }
    #secrethover{
        .circle{
            background: $secrethover;
        }
        color: $secrethover;
    }
    #secretpurple{
        .circle{
            background: $secretpurple;
        }
        color: $secretpurple;
    }
    #secret{
        .circle{
            background: $secret;
        }
        color: $secret;
    }
}
.intro{
    a{
        color: $morado;
        font-size: 21px;
        padding-right: 20px;
    }
    a:hover{
        color: $azul;
    }
    @include ipad{
        margin-top: 50px;
        font-size: 36px;
    }
    @include desktop{
        h1{
            font-size: 80px;
            margin-top: 50px;
        }
    }
    img{
        height: 60vh;
        object-fit: cover;
        object-position:top;
        @include phone{
            height: auto;
        }
    }
}
.casefonts3{
    text-align: center;
    h3{
        background-color: $secrethover;
        padding: 10px;
    }
    .montserrat{
        color: black;
        font-family: 'Montserrat', sans-serif;
    }
    .fontcontainer{
        margin-top: 20px;
        margin-bottom: 20px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap:15px;
        padding: 10px;
        @include phone{
            grid-template-columns: 1fr;
        }
    }
    @include desktop{
        padding-top: 50px;
        padding-bottom: 50px;
    }
}
.col2{
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    gap:20px;
    .col{
        .icon{
            width: 50px;
        }
    }
    @include phone{
        grid-template-columns: 1fr;
    }
}

.logito{
    background-color: black;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 0 auto;
    padding: 20px;
    position: relative;
}
.eye{
    background-color: white;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -34px;
    margin-top: -34px;
    overflow: hidden;
}
.pupil{
    background-color: black;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -17px;
    margin-top: -17px;
}

.eye1{
    margin-left: -88px;
}
.eye2{
    margin-left: 20px;
}